<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <script>
        function togglePasswordVisibility(userId) {
            var passwordInput = document.getElementById('password-input-' + userId);
            var passwordToggleIcon = document.getElementById('password-toggle-icon-' + userId);

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                passwordToggleIcon.innerHTML = '<i class="fas fa-eye-slash"></i>';
            } else {
                passwordInput.type = 'password';
                passwordToggleIcon.innerHTML = '<i class="fas fa-eye"></i>';
            }
        }
    </script>
</head>
<body>
<div class="container-admin">
    <h1>Welcome to the Admin Panel</h1>
    <div class="language-toggle" id="language-toggle" onclick="toggleLanguage()">Français</div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Full Name</th>
            <th>Password</th>
            <th>User Image</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.fullName }}</td>
                <td>
                    <span class="password-toggle">
                        <label for="password-input-{{ user.id }}"></label>
                        <input type="password" class="password-input" id="password-input-{{ user.id }}"
                               value="{{ user.password }}" disabled>
                        <span class="password-toggle-icon" id="password-toggle-icon-{{ user.id }}"
                              onclick="togglePasswordVisibility('{{ user.id }}')">
                            <i class="fas fa-eye"></i>
                        </span>
                    </span>
                </td>
                <td>
                    <img src="{{ asset(user.imagePath) }}" alt="{{ user.fullName }}'s Image" class="user-image">
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="admin-button" onclick="window.location.href = '{{ path('app_homepage') }}'">Back</button>
</div>

<script>
    var languageToggle = document.getElementById('language-toggle');
    var isEnglish = true;

    var userPreferredLanguage = navigator.language.substring(0, 2);

    if (userPreferredLanguage === 'fr') {
        toggleLanguage();
    }

    function toggleLanguage() {
        var h1Element = document.querySelector('h1');
        var idLabel = document.querySelector('th:nth-child(1)');
        var emailLabel = document.querySelector('th:nth-child(2)');
        var nameLabel = document.querySelector('th:nth-child(3)');
        var passwordLabel = document.querySelector('th:nth-child(4)');
        var userImageLabel = document.querySelector('th:nth-child(5)');
        var backButton = document.querySelector('button');


        if (isEnglish) {
            h1Element.innerHTML = 'Bienvenue au panneau d\'administration';
            languageToggle.innerHTML = 'English';
            idLabel.innerHTML = 'Mot de passe';
            emailLabel.innerHTML = 'Adresse électronique';
            nameLabel.innerHTML = 'Nom complet';
            passwordLabel.innerHTML = 'Mot de passe';
            userImageLabel.innerHTML = 'Image d\'utilisateur';
            backButton.innerHTML = 'Retour';
        } else {
            h1Element.innerHTML = 'Welcome to the Admin Panel';
            languageToggle.innerHTML = 'Français';
            idLabel.innerHTML = 'ID';
            emailLabel.innerHTML = 'Email';
            nameLabel.innerHTML = 'Full Name';
            passwordLabel.innerHTML = 'Password';
            userImageLabel.innerHTML = 'User Image';
            backButton.innerHTML = 'Back';
        }
        isEnglish = !isEnglish;
    }
</script>
</body>
</html>
